<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Presupuesto diario</title>
    <link href="/CSS/PresupuestoDia.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container-fluid principal">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <div class="logo_content">
                    <div class="logo">
                        <div class="row">
                            <div class="col">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                            <div class="col">
                                <div class="logo_name">Presupuesto</div>
                            </div>
                        </div>
                    </div>
                    <i class='bx bx-menu-alt-left' id="btn"></i>
                </div>
                <ul class="nav_list">
                    <li class="my-1">
                        <a href="">
                            <i class="bi bi-calendar4"></i>
                            <span class="links-name">Diario</span>
                        </a>
                        <span class="tooltip">Presupuesto diario</span>
                    </li>
                    <li class="my-1">
                        <a href="/Operis/ConsultaPresupuesto">
                            <i class="bi bi-list-ul"></i>
                            <span class="links-name">Anteriores</span>
                        </a>
                        <span class="tooltip">Consulta</span>
                    </li>
                    <li class="my-1">
                        <a href="/Operis/direct">
                            <i class='bx bx-log-out' ></i>
                            <span class="links-name">Salir</span>
                        </a>
                        <span class="tooltip">Salir</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row mt-5">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4">
                    <div class="card nueve">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col"></div>
                                <div class="col">
                                    <i class="bi bi-pencil-square icon"></i>
                                    <h3><b>Papeleria</b></h3>
                                    <h4>Ingresos</h4>
                                    <%
                                        var totalpap = 0;
                                        var gantot = 0;
                                        const date = new Date();
                                        const fecha = `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`;
                                        for (let i in ven){
                                            console.log(fecha);
                                            console.log(ven[i].dia_vent);
                                            if (ven[i].dia_vent == fecha){
                                                for (let x in pro){
                                                    if (ven[i].idprodu == pro[x].idprodu){
                                                        totalpap = totalpap + (ven[i].nopiezas_vent * pro[x].pvent_produ);
                                                        gantot = gantot + ((ven[i].nopiezas_vent * pro[x].pvent_produ)-(ven[i].nopiezas_vent * pro[x].padq_produ));
x                                                    }
                                                }
                                            }
                                        }
                                        console.log(gantot);
                                    %>
                                    <h5>$<%=totalpap%></h5>
                                </div>
                                <div class="col"></div>
                            </div>
                            <hr>
                            <div class="row text-center">
                                <div class="col"></div>
                                <div class="col">
                                    <i class="bi bi-pc-display icon"></i>
                                    <h3><b>Cyber</b></h3>
                                    <h4>Ingresos</h4>
                                    <%
                                        var totalcyber = 0;
                                        for (let x in ren){
                                            if (ren[x].dia_rent == fecha){
                                                totalcyber = totalcyber + ren[x].cost_tot;
                                            }
                                        }
                                    %>
                                    <h5>$<%=totalcyber%></h5>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card nueve">
                        <div class="card-body">
                            <div class="row text-center" id="rowNon">
                                <div class="col"></div>
                                <div class="col align-middle">
                                    <i class="bi bi-cash-stack icon"></i>
                                    <h3>Presupuesto</h3>
                                    <h4>Día</h4>
                                    <%
                                    var currentTime = new Date();
                                    let diaif = `${currentTime.getDate()}`;
                                    let monthif = `${currentTime.getMonth() + 1}`;
                                    if (parseInt(diaif)<10){
                                        diaif = `0`+`${diaif}`;
                                    } else{}
                                    if (parseInt(monthif)<10){
                                        monthif = `0`+`${monthif}`;
                                    }
                                    const fechades = `${currentTime.getFullYear()}-${monthif}-${diaif}`;

                                    for (let z in pre){
                                        if (fechades == pre[z].dia_pres){
                                            totalpap = 0;
                                            totalcyber = 0;
                                            gantot = 0;
                                        }
                                    }
                                    %>
                                    <input type="date" class="form-control" value="<%=fechades%>" >
                                    <h4 class="mt-2">Gastos Totales</h4>
                                    <input class="form-control" value="<%=totalpap - gantot%>" type="number" min="1">
                                    <h4 class="mt-2">Ganancias</h4>
                                    <input class="form-control" type="number" value="<%= gantot + totalcyber%>" min="1" disabled>
                                    <form action="/Operis/PresupuestoDiario/ClosePres" method="post">
                                        <%
                                        var deshabilitar;
                                        if (totalpap+totalcyber === 0){
                                            deshabilitar = "disabled";
                                        } else{
                                            deshabilitar = "";
                                        }
                                        %>
                                        <button name="datos" value="<%=fechades%>|<%=gantot + totalcyber%>|<%= totalcyber + totalpap%>|<%= totalpap - gantot%>" class="btn mt-4" id="closePres" <%=deshabilitar%>>Cerrar presupuesto</button>
                                    </form>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"  id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4">
                <div class="modal-header" id="popupHeader">
                    <h4>Asignar/modificar gastos</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row text-center">
                            <i class="bi bi-cash-coin icon"></i>
                            <form action="">
                                <h5>Gastos</h5>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col"></div>
                                    <div class="col">
                                        <Button class="btn btn-outline-danger" data-bs-dismiss="modal">Salir</Button>
                                    </div>
                                    <div class="col"></div>
                                    <div class="col">
                                        <button class="btn btn-outline-secondary">Registrar</button>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"  id="modalFormProd" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4">
                <div class="modal-header" id="popupHeader">
                    <h4>Modificar producto</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row text-center">
                            <i class="bi bi-clipboard-plus-fill icon"></i>
                            <h5>Productos</h5>
                            <table class="table text-center" id="tableProduct">
                                <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody class="table-secondary">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <div class="vstack gap-2">
                                        <h5>Asignar otro producto:</h5>
                                        <select name="" id="" class="form-select">
                                            <option value=""></option>
                                        </select>
                                        <button class="btn btn-outline-success">Asignar</button>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col"></div>
                                <div class="col">
                                    <Button class="btn btn-outline-danger" data-bs-dismiss="modal">Salir</Button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function (){
        sidebar.classList.toggle("active");
    }
    //modal
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
</body>
</html>